.nav{
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
}
.nav.active{
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.nav .logo a{
    color: #000;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 1.8rem;
}
.nav-links li {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
}
/* media query for Mobile */
@media (max-width: 768px){
    .nav{
        height: 80px;
        padding: 0 30px;
    }
    .nav .logo a{
        font-size: 25px;
    }
    .nav-links{
        display: none;
    }
    .nav-links li{
        font-size: 1.6rem;
    }
    .nav-links li a{
        padding: 10px 0;
    }
    .nav-links.active{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
    }
    .nav-links.active li{
        opacity: 0;
    }
    .nav-links.active li:nth-child(1){
        transition-delay: 0.1s;
    }
    .nav-links.active li:nth-child(2){
        transition-delay: 0.2s;
    }
    .nav-links.active li:nth-child(3){
        transition-delay: 0.3s;
    }
    .nav-links.active li:nth-child(4){
        transition-delay: 0.4s;
    }
    .nav-links.active li:nth-child(5){
        transition-delay: 0.5s;
    }
    .nav-links.active li:nth-child(6){
        transition-delay: 0.6s;
    }
    .nav-links.active li:nth-child(7){
        transition-delay: 0.7s;
    }
    .nav-links.active li:nth-child(8){
        transition-delay: 0.8s;
    }
    .nav-links.active li:nth-child(9){
        transition-delay: 0.9s;
    }
    .nav-links.active li:nth-child(10){
        transition-delay: 1s;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .burger div{
        width: 25px;
        height: 3px;
        background-color: #000;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .burger.active div:nth-child(1){
        transform: rotate(
45deg
);
        margin: 8px;
    }
    .burger.active div:nth-child(2){
        opacity: 0;
    }
    .burger.active div:nth-child(3){
        transform: rotate(
-45deg
);
        margin: -8px;
    }
}
/* Path: src/Components/Nav/Nav.js */


